<!DOCTYPE html>
<html>
    <head>
         <title>BLOG-POST</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> 
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
    <body> 
    <div class="ui inverted menu">
       <div class="ui container">
           <div class="header item"><i class="file code icon"></i>BLOGS</div>
           <a class="item" href="/">HOME</a>
           <a class="item" href="/blog/new">NEW-POST</a>
        </div>
    </div>
    